<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" preserve-order="true">
	<listeners>
		<listener class-name="com.wx.listener.ZTestReport" />
	</listeners>
	<test name="TestDemo">
		<classes>
		    <class name="com.wx.base.TestBase" />
		</classes>
	</test>
</suite>
